<div class="row">
  <div class="col-md-6 mb-3" *ngFor="let article of pageArticles?.data">
    <!--<a routerLink="/detail/{{article.id}}">-->
      <div class="card" [ngClass]="{ 'text-white bg-secondary': article.state === 0 }">
        <div class="card-body">
          <a routerLink="{{'/'+article.category.value}}" *ngIf="categoryLinkEnable">
            <strong [style.color]="article.category.color">{{article.category.label}}</strong>
          </a>
          <strong [style.color]="article.category.color" *ngIf="!categoryLinkEnable">{{article.category.label}}</strong>
          <h5 class="card-title">
            <a [ngClass]="[ article.state === 0 ? 'text-white' : 'text-dark' ]"
               routerLink="{{'/detail/'+article.id}}">{{article.title}}</a>
          </h5>
          <p class="mb-1" [ngClass]="[ article.state === 0 ? 'text-light' : 'text-muted' ]">
            <i class="fa fa-calendar"></i>
            {{article.createTime | date: 'yyyy/MM/dd'}}
          </p>
          <p class="mb-1">
            <span class="badge badge-success" data-toggle="tooltip" title="点击量：{{article.viewCount}}">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              {{article.viewCount}}
            </span>
          </p>
        </div>
      </div>
    <!--</a>-->
  </div>
</div>
