<div class="jumbotron">
  <div class="container body-content">
    <div class="banner-text">
      <h1 class="display-4 readColor">阅读</h1>
      <p class="lead text-light">
        自中原板荡，夷狄交侵，余发愤河朔，起自相台，总发从军，历二百余战。虽未能远入荒夷，洗荡巢穴，亦且快国雠之万一。今又提一旅孤军，振起宜兴。建康之战，一鼓败虏，恨未能使匹马不回耳。故且养兵休卒，蓄锐待敌，嗣当激励士卒，功期再战，北逾沙漠，喋血虏廷，尽屠夷种，迎二圣归京阙，取故土下版图，朝廷无虞，主上奠枕，余之愿也。
      </p>
      <p class="lead text-light text-right">
        ——岳飞·河朔题
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let article of pageArticles?.data">
      <div class="card">
        <div class="card-body">
          <strong class="readColor">阅读</strong>
          <h5 class="card-title">
            <a class="text-dark" routerLink="{{'/detail/'+article.id}}">{{article.title}}</a>
          </h5>
          <p class="text-muted mb-1">
            <i class="fa fa-calendar"></i>
            {{article.createTime}}
          </p>
          <p class="mb-1">
            <span class="badge badge-success" data-toggle="tooltip" title="点击量：{{article.viewCount}}">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              {{article.viewCount}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
