<div class="jumbotron" id="paginationTarget">
  <div class="container body-content">
    <div class="row">
      <div class="col-md-6">
        <img src="https://www.microsoft.com/net/images/redesign/shared/developers-at-desk.svg?v=zmyD_fnoax3vsHlb11A9hjWhtNicdVy1Lk3i6KclMzU" />
      </div>
      <div class="col-md-6">
        <h1 class="display-4 netColor">.Net</h1>
        <p class="lead">
          免费、跨平台、开源<br />
          一个用于构建
          <code>Web</code>、
          <code>手机</code>、
          <code>桌面</code>、
          <code>游戏</code>、
          <code>机器学习 &amp; AI</code>、
          <code>物联网</code>、
          <code>和其它所有应用</code>的开发平台
        </p>
        <p class="lead">
          <!--@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
          {
          <a class="btn btn-primary btn-lg" href="@Url.Action(" Post")">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            写博客
          </a>
          }-->
        </p>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true}"></ngx-loading>
<div class="container">
  <app-article-list [pageArticles]="pageArticles"></app-article-list>
  <div class="clearfix">
    <pagination class="pull-right" previousText="上一页" nextText="下一页"
                [totalItems]="pageArticles?.totalItems" [itemsPerPage]="20" [maxSize]="5" [(ngModel)]="pageNumber"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
