.jumbotron { background: url(http://site-cdn.onenote.net/1694021557_Images/home/new/Ink_4x3.png); background-size:50%; background-repeat:no-repeat; background-position-x:right; }
div.jumbotron div.banner-text { background: rgba(0, 0, 0, 0.1); padding: 2rem; }
