<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" />
    开心狗
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/net" routerLinkActive="active">
          <i class="fa fa-cubes"></i>
          .Net
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/db" routerLinkActive="active">
          <i class="fa fa-database"></i>
          数据库
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/windows" routerLinkActive="active">
          <i class="fa fa-windows"></i>
          Windows
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/read" routerLinkActive="active">
          <i class="fa fa-bookmark"></i>
          阅读
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/essays" routerLinkActive="active">
          <i class="fa fa-pencil"></i>
          随笔
        </a>
      </li>
      <!--<li class="nav-item d-block d-sm-none">
        <a class="nav-link">
          <i class="fa fa-search" aria-hidden="true"></i>
          搜索
        </a>
      </li>-->
    </ul>
    <!--<form class="form-inline d-none d-md-block d-lg-block">
      <div class="input-group">
        <input type="text" class="form-control" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary">搜索</button>
        </div>
      </div>
    </form>-->
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-dark">
  <ul class="text-center">
    <li class="nav-item">
      <a class="nav-link text-light" href="https://github.com/doghappy" style="padding:0 8px" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="mailto:hero_wong@outlook.com" style="padding:0 8px" target="_blank">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <p class="text-center">
    <span class="text-light">&copy; 2018 - 开心狗</span>
    <a class="text-light" target="_blank" href="http://www.miitbeian.gov.cn/">鄂icp备17019876号</a>
  </p>
</footer>
