<div class="jumbotron">
  <div class="container body-content">
    <h1 class="display-6 mb-4">{{article?.title}}</h1>
    <p class="lead text-muted mb-1">
      <i class="fa fa-calendar"></i>
      {{article?.createTime | date: 'yyyy/MM/dd'}}
    </p>
    <p class="lead text-muted mb-1">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      {{article?.viewCount}}
    </p>
  </div>
</div>

<div class="container">
  <div class="markdown-body mb-4">
    <markdown [data]="article?.content"></markdown>
  </div>
</div>
