<div class="jumbotron">
  <div class="container body-content">
    <h1 class="display-6 mb-4">{{article?.title}}</h1>
    <p class="lead text-muted mb-1">
      <i class="fa fa-calendar"></i>
      {{article?.createTime | date: 'yyyy/MM/dd'}}
    </p>
    <p class="lead text-muted mb-4">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      {{article?.viewCount}}
    </p>
    <a class="btn btn-outline-primary" *ngIf="hasAuthCookie" routerLink="/edit/{{article?.id}}">
      <i class="fa fa-pencil"></i>
      编辑
    </a>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true}"></ngx-loading>
<div class="container">
  <div class="markdown-body" style="padding-bottom:3rem">
    <markdown [data]="article?.content"></markdown>
  </div>
</div>
