<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="list(list)">
    <p th:if="${#lists.size(list) > 0}" class="mb-1 text-muted">
        <th:block th:each="tag : ${list}">
            <a class="btn btn-link badge badge-light border"
               th:href="@{'/tag/' + ${tag.Name} + '/article'}"
               th:classappend="${#strings.isEmpty(tag.color) ? 'text-secondary' : ''}"
               th:style="${#strings.isEmpty(tag.color) ? '' : 'color:' + tag.color}">
                <span th:if="${#strings.isEmpty(tag.glyph) || #strings.isEmpty(tag.glyphFont)}" class="fa fa-tag"></span>
                <span th:unless="${#strings.isEmpty(tag.glyph) || #strings.isEmpty(tag.glyphFont)}"
                      style="font-weight:900;"
                      th:styleappend="'font-family:\'' + ${tag.glyphFont} + '\';'">
                    [(${tag.glyph})]
                </span>
                [(${tag.name})]
            </a>
        </th:block>
    </p>
</th:block>
</body>
</html>