.inline-switch {
    display: flex;
    align-items: center;
}

.inline-switch .form-check, .form-switch {
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.inline-switch .form-check, .form-switch .form-check-input {
    margin: 0;
}