<div id="form-box" class="col-md-3 mx-auto">
  <alert *ngIf="loginResult && (loginResult?.code !== 200)" type="warning" [dismissible]="true">
    {{loginResult.message}}
  </alert>
  <form>
    <div class="text-center mb-4">
      <img src="favicon.ico" width="72" height="72" />
    </div>
    <input class="form-control" name="UserName"
           [(ngModel)]="userName"
           autocomplete="current-userName"
           #userNameInput="ngModel"
           required autofocus
           minlength="4" maxlength="12"
           placeholder="请输入用户名..." />
    <input class="form-control mb-2" name="Password"
           [(ngModel)]="password"
           autocomplete="current-password"
           #passwordInput="ngModel"
           type="password"
           required autofocus
           minlength="4"
           placeholder="请输入密码..." />
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe" />
      <label class="form-check-label" for="rememberMe">记住我</label>
    </div>
    <div *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)" class="text-danger mb-4">
      <div *ngIf="userNameInput.errors.required">
        请输入用户名
      </div>
      <div *ngIf="userNameInput.errors.minlength">
        用户名长度不能少于4位
      </div>
    </div>
    <div *ngIf="passwordInput.invalid &&(passwordInput.dirty||passwordInput.touched)" class="text-danger mb-4">
      <div *ngIf="passwordInput.errors.required">
        请输入密码
      </div>
      <div *ngIf="passwordInput.errors.minlength">
        密码长度不能少于4位
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="userNameInput.invalid || passwordInput.invalid" (click)="login()">登录</button>
  </form>
</div>
