<div class="container mt-4 mb-4">
  <h2>写文章</h2>
  <form #postForm="ngForm" (ngSubmit)="post()">
    <div class="form-group">
      <label for="title">标题：</label>
      <input class="form-control"
             id="title"
             name="title"
             #title
             required
             autofocus
             [(ngModel)]="article.title" />
      <!--<ng-template *ngIf="title.invalid && (title.dirty || title.touched)">
        <small class="form-text text-danger" *ngIf="title.errors.required"></small>
      </ng-template>-->
    </div>
    <div class="form-group">
      <label for="content">内容：</label>
      <textarea class="form-control"
                id="content"
                name="content"
                [(ngModel)]="article.content"></textarea>
    </div>
    <div class="form-group form-inline">
      <label for="category">类别：</label>
      <select id="category" class="form-control col-md-4" name="categoryId" [(ngModel)]="article.categoryId">
        <option [ngValue]="1">.NET</option>
        <option [ngValue]="2">数据库</option>
        <option [ngValue]="3">Windows</option>
        <option [ngValue]="4">阅读</option>
        <option [ngValue]="5">随笔</option>
        <option [ngValue]="6">Java</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">标签：</label>
      <input class="form-control" name="tagNames" [(ngModel)]="tagNames"  />
    </div>
    <div class="form-group">
      <label for="status">状态：</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="disabled" [value]="0" [(ngModel)]="article.status">
        <label class="form-check-label" for="disabled">隐藏</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="enabled" [value]="1" [(ngModel)]="article.status">
        <label class="form-check-label" for="enabled">可见</label>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="isActive || postForm.form.invalid">
      <i class="fa fa-check" aria-hidden="true"></i>
      发布
    </button>
  </form>
</div>
