<div class="jumbotron">
  <div class="container body-content">
    <h1 class="display-4">开心狗</h1>
    <p class="lead">
      Don't ever let somebody tell you<br />
      You can't do something...<br /><br />
      You got a dream… You gotta protect it.<br />
      People can’t do somethin’ themselves, they wanna tell you, you can’t do it.<br />
      If you want somethin’, go get it.
    </p>
    <!--<p class="lead">
      @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
      {
      <a class="btn btn-primary btn-lg" href="@Url.Action(" Post")">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        写博客
      </a>
      }
    </p>-->
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let article of pageArticles?.data">
      <div class="card">
        <div class="card-body">
          <a routerLink="{{'/'+article.category.value}}">
            <strong [style.color]="article.category.color">{{article.category.label}}</strong>
          </a>
          <h5 class="card-title">
            <a class="text-dark" routerLink="{{'/detail/'+article.id}}">{{article.title}}</a>
          </h5>
          <p class="text-muted mb-1">
            <i class="fa fa-calendar"></i>
            {{article.createTime}}
          </p>
          <p class="mb-1">
            <span class="badge badge-success" data-toggle="tooltip" title="点击量：{{article.viewCount}}">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              {{article.viewCount}}
            </span>
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
