<div class="jumbotron" id="paginationTarget">
  <div class="container body-content">
    <h1 class="display-4">开心狗</h1>
    <p class="lead">
      Don't ever let somebody tell you<br />
      You can't do something...<br /><br />
      You got a dream… You gotta protect it.<br />
      People can’t do somethin’ themselves, they wanna tell you, you can’t do it.<br />
      If you want somethin’, go get it.
    </p>
    <p class="lead" *ngIf="hasAuthCookie">
      <a class="btn btn-primary" routerLink="/post">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        写文章
      </a>
    </p>
  </div>
</div>

<div class="container">
  <app-article-list [pageArticles]="pageArticles" [categoryLinkEnable]="true"></app-article-list>
  <div class="clearfix">
    <pagination class="pull-right" previousText="上一页" nextText="下一页"
                [totalItems]="pageArticles?.totalItems" [itemsPerPage]="20" [maxSize]="5" [(ngModel)]="pageNumber"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
