
@{
    ViewData["Title"] = "关于";
}

<div class="container body-content">
    <h2 class="mt-4">关于我</h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <p>王雄 HeroWong 软件工程师，目前就职于<a target="_blank" href="https://worktile.com">Worktile</a>。</p>
            <p>热爱C#语言，擅长<b>ASP.Net Web开发</b>，掌握<b>.Net Core、UWP、Angular、NodeJS</b>。</p>
            <p>慢热型。喜欢打乒乓球，业余玩家。喜欢唱歌，五音不全。喜欢书法，鬼画桃符。</p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail text-center" src="~/images/IMG_0416.JPG">
        </div>
    </div>
</div>

<div class="container body-content">
    <h2 class="mt-4">关于博客</h2>
    <hr />
    <p>此博客使用<a target="_blank" href="https://dotnet.microsoft.com/">.NET</a>技术开发，运行在<code>AWS Ubuntu</code>上，于2018/04/15上线。</p>
    <h4>使用了：</h4>
    <p>ASP.NET Core、EntityFramework Core、SQL Server</p>
    @*<div class="row">
            <div class="col-md-4 mb-4">
                <img src="https://docs.microsoft.com/zh-cn/media/hubs/aspnet/core-overview-2.svg" />
            </div>
            <div class="col-md-4 pt-4 mb-4">
                <img width="340" height="67" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Nginx_logo.svg" />
            </div>
            <div class="col-md-4 mb-4">
                <img style="width:80%; height:90%" src="https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg" />
            </div>
        </div>*@
</div>