
@{
    ViewData["Title"] = "错误";
}

@section Styles{
    <style>
        #svg { display: block; margin: 0 auto; margin-top: 4rem; }
        @@media (min-width: 768px) {
            #svg { width: 50%; height: 50%; }
        }
        .container, .body-content { position: relative; overflow-y: hidden; }
    </style>
}

<div class="container body-content">
    <div style="position:absolute;">
        <h2 class="mt-4">出现错误啦</h2>
        <i class="fa fa-frown-o fa-5x"></i>
    </div>
    <img id="svg" class="img-fluid" src="https://upyun.doghappy.wang/blog/wwwroot/images/moonRobot.svg" />
</div>