
@{
    ViewData["Title"] = "404";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img class="img-fluid" src="~/images/404.png" style="margin-top:8rem" />
        </div>
    </div>
</div>