
@{
    ViewData["Title"] = "404";
}

@*@section Styles{
        <style>
            #svg { display: block; margin: 0 auto; margin-top: 4rem; }
            @@media (min-width: 768px) {
                #svg { width: 50%; height: 50%; }
            }
            .container, .body-content { position: relative; overflow-y: hidden; }
        </style>
    }

    <div class="container body-content">
        <div style="position:absolute;">
            <h2 class="mt-4">404</h2>
            <i class="fa fa-frown-o fa-5x"></i>
        </div>
        <img id="svg" class="img-fluid" src="~/images/moonRobot.svg" />
    </div>*@
<div class="container body-content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img class="img-fluid" src="~/images/404.png" style="margin-top:8rem" />
        </div>
    </div>
</div>