<div class="row">
  <div class="col-md-6 mb-3" *ngFor="let item of articles">
    <div class="card" [ngClass]="{'text-white bg-secondary' : item.status === _baseStatus.Disabled}">
      <div class="card-body">
        <a href="javascript:" class="text-decoration-none">
          <strong [style.color]="item.category.color">{{item.category.label}}</strong>
        </a>
        <h5 class="card-title">
          <a [routerLink]="'/edit/'+item.id" class="text-decoration-none" [ngClass]="item.status === _baseStatus.Enabled ? 'text-dark' : 'text-white'">
            {{item.title}}
          </a>
        </h5>
        <p class="mb-1" [ngClass]="item.status === _baseStatus.Enabled ? 'text-secondary' : 'text-white'">
          <i class="fas fa-calendar-alt"></i>
          {{item.createTime | date:"yyyy/HH/mm"}}
        </p>
        <div class="text-muted">
          <app-tag-badge [tag]="tag" *ngFor="let tag of item.tags" class="m-1"></app-tag-badge>
        </div>
      </div>
    </div>
  </div>
</div>
