<div class="row">
  <div class="col-md-6 mb-3" *ngFor="let item of articles">
    <div class="card" [ngClass]="{'text-white bg-secondary' : item.status === _baseStatus.Disabled}">
      <div class="card-body">
        <a href="#">
          <strong [style.color]="item.category.color">{{item.category.label}}</strong>
        </a>
        <h5 class="card-title">
          <a [routerLink]="'/edit/'+item.id" [class]="item.status === _baseStatus.Enabled ? 'text-dark' : 'text-white'">
            {{item.title}}
          </a>
        </h5>
        <p class="mb-1">
          <i class="fa fa-calendar"></i>
          {{item.createTime | date:"yyyy/HH/mm"}}
        </p>
        <p class="mb-1">
          <span class="badge badge-success" data-toggle="tooltip" [title]="'点击量：'+item.viewCount" onmouseenter="$(this).tooltip('show')">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            {{item.viewCount}}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
