<div class="jumbotron">
  <div class="container body-content">
    <p>
      <img src="assets/Windows_10_Logo.svg" class="img-fluid" />
    </p>
    <p class="lead">
      Windows 10 是一款优秀的系统。<br />
      它逐渐成为了智能手机、PC、平板、Xbox One、物联网和其他各种办公设备的心脏，使设备之间提供无缝的操作体验。
    </p>
    <p class="lead">
      <a href="https://www.microsoft.com/zh-cn/windows/reasons-to-upgrade-to-a-new-windows-10-pc" target="_blank">
        升级到 Windows 10 的理由
      </a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let article of pageArticles?.data">
      <div class="card">
        <div class="card-body">
          <strong class="windowsColor">Windows</strong>
          <h5 class="card-title">
            <a class="text-dark" routerLink="{{'/detail/'+article.id}}">{{article.title}}</a>
          </h5>
          <p class="text-muted mb-1">
            <i class="fa fa-calendar"></i>
            {{article.createTime}}
          </p>
          <p class="mb-1">
            <span class="badge badge-success" data-toggle="tooltip" title="点击量：{{article.viewCount}}">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
              {{article.viewCount}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
