@model List<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = "搜索";
    ViewData["SearchValue"] = ViewBag.SearchValue;
}

<div class="container body-content animated fadeIn">
    <div class="alert alert-primary mt-3" role="alert">
        @ViewBag.Message
    </div>

    <h2 class="mt-4 mb-4">Top 20</h2>
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model })
</div>