@model List<HappyDog.Domain.Entities.Article>

@{
    ViewData["Title"] = "doghappy";
    ViewData["Description"] = "开心狗";
    ViewData["Keywords"] = "开心狗";
    var pager = (HappyDog.Infrastructure.Pager)ViewBag.Pager;
}

<div class="jumbotron" id="paginationTarget">
    <div class="container body-content animated slideInDown">
        <h1 class="display-4">开心狗</h1>
        <p class="lead">
            Don't ever let somebody tell you<br />
            You can't do something...<br /><br />
            You got a dream… You gotta protect it.<br />
            People can’t do somethin’ themselves, they wanna tell you, you can’t do it.<br />
            If you want somethin’, go get it.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <p class="lead">
                <a class="btn btn-primary" href="javascript:void(0)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    写文章
                </a>
            </p>
        }
    </div>
</div>

<div class="container body-content animated fadeIn">
    @await Component.InvokeAsync("ArticleList", new { articles = Model })

    @Html.Raw(pager.GetPageNumberLinks(p => Url.Action("Index", new { page = p })))
</div>
