@model HappyDog.Infrastructure.Pagination<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = ".NET";
    ViewData["Description"] = ".NET";
    ViewData["Keywords"] = ".NET";
    ViewData["SearchValue"] = "net:";
}

<div class="jumbotron" id="paginationTarget">
    <div class="container body-content animated zoomIn">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/swimlane-dotnet-core.svg" />
            </div>
            <div class="col-md-6">
                <h1 class="display-4 netColor">.NET</h1>
                <p class="lead">
                    免费、跨平台、开源<br />
                    一个用于构建
                    <code>Web</code>、
                    <code>手机</code>、
                    <code>桌面</code>、
                    <code>游戏</code>、
                    <code>机器学习 &amp; AI</code>、
                    <code>物联网</code>、
                    <code>和其它所有应用</code>的开发平台
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container body-content animated fadeIn">
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model.Data })

    @Html.Raw(Model.GetPageNumberLinks(p => Url.Action("Net", new { page = p })))
</div>