@model HappyDog.Infrastructure.Pagination<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = ViewData["SearchValue"];
}

<div class="container body-content animate__animated animate__fadeIn mt-5">
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model.Data })

    @Html.Raw(Model.GetFlexibleLinks(p => Url.Action("Index", new { page = p }), 7))
</div>
