@model HappyDog.Infrastructure.Pagination<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = "Windows";
    ViewData["Description"] = "Windows";
    ViewData["Keywords"] = "Windows";
    ViewData["SearchValue"] = "windows:";
}

<div class="mb-5 bg-light">
    <div class="container-fluid py-5 container body-content animate__animated animate__rollIn">
        <p>
            <img src="https://upyun.doghappy.wang/blog/wwwroot/images/Windows_10_Logo.svg" class="img-fluid" />
        </p>
        <p class="lead">
            Windows 10 是一款优秀的系统。<br />
            它逐渐成为了智能手机、PC、平板、Xbox One、物联网和其他各种办公设备的心脏，使设备之间提供无缝的操作体验。
        </p>
        <p class="lead">
            <a href="https://aka.ms/Windows/ReleaseInfo" target="_blank">
                Windows 10 Release Information
            </a>
        </p>
    </div>
</div>

<div class="container body-content animate__animated animate__fadeIn">
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model.Data })

    @Html.Raw(Model.GetFlexibleLinks(p => Url.Action("Windows", new { page = p }), 7))
</div>
