@{
    ViewData["Title"] = "Windows";
    ViewData["Description"] = "Windows";
    ViewData["Keywords"] = "Windows";
    var pager = (HappyDog.Infrastructure.Pager)ViewBag.Pager;
}

@section Styles{
    <style>
        div.jumbotron div.banner-text { background: rgba(0, 0, 0, 0.5); padding: 2rem; }
    </style>
}

<div class="jumbotron" id="paginationTarget">
    <div class="container body-content animated rollIn">
        <p>
            <img src="~/images/Windows_10_Logo.svg" class="img-fluid" />
        </p>
        <p class="lead">
            Windows 10 是一款优秀的系统。<br />
            它逐渐成为了智能手机、PC、平板、Xbox One、物联网和其他各种办公设备的心脏，使设备之间提供无缝的操作体验。
        </p>
        <p class="lead">
            <a href="https://www.microsoft.com/zh-cn/windows/reasons-to-upgrade-to-a-new-windows-10-pc" target="_blank">
                升级到 Windows 10 的理由
            </a>
        </p>
    </div>
</div>

<div class="container body-content animated fadeIn">
    @await Component.InvokeAsync("ArticleList", new { articles = Model })

    @Html.Raw(pager.GetPageNumberLinks(p => Url.Action("Windows", new { page = p })))
</div>