@model HappyDog.Infrastructure.Pagination<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = "Windows";
    ViewData["Description"] = "Windows";
    ViewData["Keywords"] = "Windows";
    ViewData["SearchValue"] = "windows:";
}

@section Styles{
    <style>
        div.jumbotron div.banner-text {
            background: rgba(0, 0, 0, 0.5);
            padding: 2rem;
        }
    </style>
}

<div class="jumbotron" id="paginationTarget">
    <div class="container body-content animated rollIn">
        <p>
            <img src="~/images/Windows_10_Logo.svg" class="img-fluid" />
        </p>
        <p class="lead">
            Windows 10 是一款优秀的系统。<br />
            它逐渐成为了智能手机、PC、平板、Xbox One、物联网和其他各种办公设备的心脏，使设备之间提供无缝的操作体验。
        </p>
        <p class="lead">
            <a href="https://docs.microsoft.com/zh-cn/windows/release-information/" target="_blank">
                Windows 10 Release Information
            </a>
        </p>
    </div>
</div>

<div class="container body-content animated fadeIn">
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model.Data })

    @Html.Raw(Model.GetPageNumberLinks(p => Url.Action("Windows", new { page = p })))
</div>
