@model List<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action(item.Category.Value, "Article")" class="text-decoration-none">
                        <strong style="color:@item.Category.Color">@item.Category.Label</strong>
                    </a>
                    <h5 class="card-title">
                        @Html.ActionLink(item.Title, "Detail", "Article", new { id = item.Id }, new { @class = "text-dark text-decoration-none" })
                    </h5>
                    <p class="mb-1 text-muted">
                        <i class="fas fa-calendar-alt"></i>
                        @item.CreateTime.ToString("yyyy/MM/dd")
                    </p>
                    <vc:tag-dtos tags="item.Tags"></vc:tag-dtos>
                </div>
            </div>
        </div>
    }
</div>