<div class="container" style="padding:4rem 0;" *ngIf="article">
  <div class="mb-4">
    <strong>标题：</strong>
    <input class="form-control" [(ngModel)]="article.title" />
  </div>
  <div class="mb-4">
    <strong>内容：</strong>
    <md-editor [(ngModel)]="article.content"
               [height]="'40rem'"
               [mode]="mode"
               [options]="options"
               maxlength="500"></md-editor>
  </div>
  <div class="mb-4 form-inline">
    <strong>分类：</strong>
    <select class="form-control" [(ngModel)]="article.categoryId">
      <option value="{{category.id}}" *ngFor="let category of categories">
        {{category.label}}
      </option>
    </select>
  </div>
  <div class="mb-4 form-inline">
    <strong>状态：</strong>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="state" id="state.disable" [(ngModel)]="article.state" [value]="0">
      <label class="form-check-label" for="state.disable">隐藏</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="state" id="state.enable" [(ngModel)]="article.state" [value]="1">
      <label class="form-check-label" for="state.enable">显示</label>
    </div>
  </div>
  <button class="btn btn-primary" (click)="update()">保存</button>
</div>
