@model HappyDog.Domain.DataTransferObjects.Comment.PostCommentDto

<div class="card comment-form-containter">
    <div class="card-header">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        评论
    </div>
    <form method="post" asp-action="Post" asp-controller="Comment" class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-4">
                <input type="text" class="form-control" asp-for="Name" placeholder="请输入昵称" required maxlength="50" />
                <span class="text-danger small" asp-validation-for="Name"></span>
            </div>
            <div class="col-md-8 col-sm-12 mb-4">
                <input type="email" class="form-control" asp-for="Email" placeholder="请输入邮箱" required maxlength="120" />
                <span class="text-danger small" asp-validation-for="Email"></span>
            </div>
        </div>
        <textarea rows="6" class="form-control" asp-for="Content" required maxlength="1000" placeholder="请输入评论内容，支持 Markdown。"></textarea>
        <span class="text-danger small" asp-validation-for="Content"></span>
        @Html.AntiForgeryToken()
        <input type="hidden" name="ArticleId" value="@ViewBag.ArticleId" />
        <div class="form-inline mt-4">
            <button class="btn btn-link p-0" type="button" onclick="updateCaptcha(this)">
                <img src="@Url.Action("Captcha", "Comment")" />
            </button>
            <input type="text" class="form-control ml-2" asp-for="Code" placeholder="验证码" required style="width:100px;" />
            <button class="btn btn-outline-success ml-2">
                <i class="fa fa-check" aria-hidden="true"></i>
                提交
            </button>
        </div>
        <span class="text-danger small" asp-validation-for="Code"></span>
    </form>
</div>