<!DOCTYPE html>
<html lang="cn" layout:decorate="~{layout}" th:with="searchKey='db:'">
<head>
    <title>.NET</title>
    <meta name="description" content="数据库"/>
    <meta name="keywords" content="数据库"/>
    <style>
        div.jumbotron {
            background: url('https://upyun.doghappy.wang/blog/wwwroot/images/db.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>
<th:block layout:fragment="body">
    <div class="jumbotron" id="paginationTarget">
        <div class="container body-content animate__animated animate__fadeInLeft">
            <h1 class="display-4 text-light">数据库</h1>
            <p class="lead text-light">
                SQL: 关系型数据库，是一种成熟的数据库，对数据结构有着严谨的要求，因此它的数据具有高度的一致性。但是它的读写性能没有NoSQL好。
            </p>
            <p class="lead text-light">
                NoSQL： 非关系型数据库，近十年来发展迅速，灵活的数据模型，读写性能好，易于扩展。但是不支持事务，在复杂的统计面前力不从心，没有SQL成熟。
            </p>
            <p class="lead text-light">
                SQL 与 NoSQL 优劣互补，它们的应用场景是不同的。
            </p>
        </div>
    </div>
    <div class="container body-content animate__animated animate__fadeIn">
        <th:block th:insert="fragments/article-list :: list(${list})"></th:block>
        [(${bar})]
    </div>
</th:block>
</body>
</html>