@model HappyDog.Infrastructure.Pagination<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>
@{
    ViewData["Title"] = ViewContext.RouteData.Values["name"];
    ViewData["Description"] = ViewContext.RouteData.Values["name"];
    ViewData["Keywords"] = ViewContext.RouteData.Values["name"];
}

<div class="container body-content pt-4 pb-4 animate__animated animate__fadeIn">
    @await Component.InvokeAsync("ArticleDtos", new { articles = Model.Data })

    @Html.Raw(Model.GetPageNumberLinks(p => Url.Action("Index", new { page = p })))
</div>