@model List<HappyDog.Domain.DataTransferObjects.Comment.CommentDto>

@if (Model != null && Model.Count > 0)
{
    <div>
        @foreach (var item in Model)
        {
            <div class="media mb-2" style="overflow-x:hidden;">
                <img data-name="@item.Name" data-height="48" data-width="48" data-font-size="36" class="avatar mr-2" />
                <div class="media-body" style="width:100%; overflow-x:auto;">
                    <div class="card comment-form-containter">
                        <div class="card-header">
                            <span class="font-weight-bold">@item.Name</span>
                            <span class="text-muted ml-2">@item.CreateTime.LocalDateTime</span>
                        </div>
                        <div class="card-body markdown-body">
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}