div#form-box { padding-top: 4rem; padding-bottom: 4rem; }
input[name='UserName'] { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom: none; }
input[name='Password'] { border-top-left-radius: 0; border-top-right-radius: 0; }
